@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Fira+Code:wght@300..700&display=swap");
.font1 {
  font-family: "Averia Libre", system-ui;
}

.font2 {
  font-family: "Edu NSW ACT Foundation", cursive;
}
.font3 {
  font-family: "Fira Code", monospace;
}
.font4 {
  font-family: "Roboto Slab", serif;
}
